input[type="text"] {
	display: block;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 14px;
	width: 520px;
	border: 2px solid $input-text-border;
	border-radius: 5px;
	font-size: 24px;
	text-align: center;

	&::-webkit-input-placeholder {
		font-family: 'Roboto', sans-serif;
		text-align: center;
		color: $input-text-color;
	}
	&:-moz-placeholder { /* Firefox 18- */
		font-family: 'Roboto', sans-serif;
		text-align: center;
		color: $input-text-color;	
	}
	&::-moz-placeholder {	/* Firefox 19+ */
		font-family: 'Roboto', sans-serif;
		text-align: center;
		color: $input-text-color;	
	}
	&:-ms-input-placeholder {
		font-family: 'Roboto', sans-serif;	
		text-align: center;
		color: $input-text-color; 
	}
}

input[type="checkbox"] {
	display: none;
}

@media (max-width: $screen-xs-max) {
	input[type="text"] {
		width: 100%;
	}
}
