select {
	display: block;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 14px;
	width: 320px;
	border: 2px solid $input-text-border;
	border-radius: 5px;
	font-size: 24px;
	text-align: center;
	text-align-last:center;
}

@media (max-width: $screen-xs-max) {
	select {
		width: 100%;
	}
}
