textarea {
	padding: 15px;
	width: 100%;
	height: 179px;
	border-radius: 5px;
	border: 1px solid $textarea-border;
	font-size: 20px;
	&::-webkit-input-placeholder {
		font-family: 'Roboto', sans-serif;
		color: $textarea-color;
	}
	&:-moz-placeholder { /* Firefox 18- */
		font-family: 'Roboto', sans-serif;
		color: $textarea-color;	
	}
	&::-moz-placeholder {	/* Firefox 19+ */
		font-family: 'Roboto', sans-serif;
		color: $textarea-color;	
	}
	&:-ms-input-placeholder { 
		font-family: 'Roboto', sans-serif; 
		color: $textarea-color; 
	}
}